@page "/call-web-api"
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using BlazorAppTier1.CLient

<h1>Call web API from a Blazor Server Razor component</h1>

@if (getBranchesError)
{
    <p>Unable to get branches from GitHub. Please try again later.</p>
}
else
{
    <p>@branches</p>
}

@code {
    private List<Domain.Models.Recipe> branches ;
    private bool getBranchesError;
    private bool shouldRender;

    protected override async Task OnInitializedAsync() =>
        branches = await Connection.FetchRecipeAsync();




}
    
}